pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.src .hll { background-color: #ffffcc }
.src { background: #f8f8f8; }
.src .c { color: #3D7B7B; font-style: italic } /* Comment */
.src .err { border: 1px solid #F00 } /* Error */
.src .k { color: #008000; font-weight: bold } /* Keyword */
.src .o { color: #666 } /* Operator */
.src .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.src .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.src .cp { color: #9C6500 } /* Comment.Preproc */
.src .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.src .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.src .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.src .gd { color: #A00000 } /* Generic.Deleted */
.src .ge { font-style: italic } /* Generic.Emph */
.src .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.src .gr { color: #E40000 } /* Generic.Error */
.src .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.src .gi { color: #008400 } /* Generic.Inserted */
.src .go { color: #717171 } /* Generic.Output */
.src .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.src .gs { font-weight: bold } /* Generic.Strong */
.src .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.src .gt { color: #04D } /* Generic.Traceback */
.src .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.src .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.src .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.src .kp { color: #008000 } /* Keyword.Pseudo */
.src .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.src .kt { color: #B00040 } /* Keyword.Type */
.src .m { color: #666 } /* Literal.Number */
.src .s { color: #BA2121 } /* Literal.String */
.src .na { color: #687822 } /* Name.Attribute */
.src .nb { color: #008000 } /* Name.Builtin */
.src .nc { color: #00F; font-weight: bold } /* Name.Class */
.src .no { color: #800 } /* Name.Constant */
.src .nd { color: #A2F } /* Name.Decorator */
.src .ni { color: #717171; font-weight: bold } /* Name.Entity */
.src .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.src .nf { color: #00F } /* Name.Function */
.src .nl { color: #767600 } /* Name.Label */
.src .nn { color: #00F; font-weight: bold } /* Name.Namespace */
.src .nt { color: #008000; font-weight: bold } /* Name.Tag */
.src .nv { color: #19177C } /* Name.Variable */
.src .ow { color: #A2F; font-weight: bold } /* Operator.Word */
.src .w { color: #BBB } /* Text.Whitespace */
.src .mb { color: #666 } /* Literal.Number.Bin */
.src .mf { color: #666 } /* Literal.Number.Float */
.src .mh { color: #666 } /* Literal.Number.Hex */
.src .mi { color: #666 } /* Literal.Number.Integer */
.src .mo { color: #666 } /* Literal.Number.Oct */
.src .sa { color: #BA2121 } /* Literal.String.Affix */
.src .sb { color: #BA2121 } /* Literal.String.Backtick */
.src .sc { color: #BA2121 } /* Literal.String.Char */
.src .dl { color: #BA2121 } /* Literal.String.Delimiter */
.src .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.src .s2 { color: #BA2121 } /* Literal.String.Double */
.src .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.src .sh { color: #BA2121 } /* Literal.String.Heredoc */
.src .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.src .sx { color: #008000 } /* Literal.String.Other */
.src .sr { color: #A45A77 } /* Literal.String.Regex */
.src .s1 { color: #BA2121 } /* Literal.String.Single */
.src .ss { color: #19177C } /* Literal.String.Symbol */
.src .bp { color: #008000 } /* Name.Builtin.Pseudo */
.src .fm { color: #00F } /* Name.Function.Magic */
.src .vc { color: #19177C } /* Name.Variable.Class */
.src .vg { color: #19177C } /* Name.Variable.Global */
.src .vi { color: #19177C } /* Name.Variable.Instance */
.src .vm { color: #19177C } /* Name.Variable.Magic */
.src .il { color: #666 } /* Literal.Number.Integer.Long */