body          { height: 100dvh; overflow: hidden; }
body.min-vh-100 { min-height: 0 !important; }
body > main   { display: flex; flex-direction: column; min-height: 0; padding-bottom: 0.5rem; }

.tab-content          { position: relative; }
.tab-pane             { position: absolute; inset: 0; }
.tab-pane:not(.show)  { pointer-events: none; }
